<%# raise %>
<div class="container">
  <h2>for here:</h2>
  <ul>
    <li><p>Kontaktperson</p></li>
    <li><p>Email</p></li>
    <li><p>Nummer</p></li>
    <li><p>Kontaktformular?</p></li>
    <li><p>Map/Anfahrt</p></li>
  </ul>
</div>
